@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
:root {
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}
html,
body {
  min-height: 100vh;
  min-height: 100svh;
  font-size: var(--font-size);
}
body {
  margin: 0 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(163, 87, 198, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.layout {
  display: flex;
  flex-direction: column;
}

.content {
  margin: 2rem;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}
nav {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin: 40px auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
nav > * {
  flex: 1 1 200px;
}
nav .links {
  text-align: right;
}
nav .logo {
  margin: 10px;
  place-self: center;
  max-inline-size: 100px;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: white;
  transition: all 0.5s;
}
.title {
  font: inherit;
  transition: all 0.5s;
}
footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}
@media (max-width: 400px) {
  :root {
    font-size: 1rem;
  }
}
