.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10vw;
  margin-top: 8rem;
  block-size: 60vh;

}

@media (max-width: 900px) {
  .images {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
}
