.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 8rem;
  block-size: 60vh;
  Img {
    justify-self: center;
    max-inline-size: 60ch;
  }
}

@media (max-width: 900px) {
  .images {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    margin-top: 2rem;
  }
}
